<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb</property>
        <property name="hibernate.connection.password">new_password</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>

       <!-- <mapping class="com.DotClothes.model.Address"/>
        <mapping class="com.DotClothes.model.UserRoot"/>
        <mapping class="com.DotClothes.model.Color"/>
        <mapping class="com.DotClothes.model.Customer"/>
        <mapping class="com.DotClothes.model.Brand"/>
        <mapping class="com.DotClothes.model.ManufacturerCountry"/>
        <mapping class="com.DotClothes.model.Order"/>
        <mapping class="com.DotClothes.model.Product"/>
        <mapping class="com.DotClothes.model.ProductCategory"/>
        <mapping class="com.DotClothes.model.Size"/>-->

    </session-factory>
</hibernate-configuration>